#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  uptime-kuma:
    image: louislam/uptime-kuma:{{ uptime_kuma_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_additional_options | indent(4) }}

    volumes:
      - ./app/data:/app/data

    labels:
      {{ traefik_project_base_labels | indent(6) }}

      # What's up Docker? - https://github.com/getwud/wud
      wud.tag.include: ^\d+$$
      wud.watch.digest: true

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
